body {
    margin: 0;
    padding: 0;
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
    width: 100vw;
    min-height: 100vh;
    font-size: 16px
}

#add-button {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    width: 150px;
    height: 150px;
    background-image: url("../assets/add-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

#container {
    margin-top: 3vh;
    min-height: 80vh;
}

#todoui-wrapper {
    width: min(90vw);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: min(4vw, 40px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3vmax;
    margin: 2vh auto;
}

#todo-details {
    background-color: transparent;
    color: white;
    font-size: min(4vw, 40px);			
    height: fit-content;
    border: 3px solid limegreen;
    border-radius: 20px;
    padding: 1vmax;
}

#todo-status {
    outline: transparent;
    accent-color: lime;
    transform: scale(2.5);
}